{% load garnett %}

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="float-right">
        <small>
        {% language_selector "cookie" %}
        </small>
        <hr>
        </div>

        <h2>{{ book.title }}</h2>
        <p>By {{book.author}}</p>
        <div>AKA: {{ book.translations.title }}</div>
        <hr>
        Pages: {{ book.number_of_pages }}
        <hr>
        {{ book.description }}
        <hr>
        Extra details:
        <table class="table">
        {% for k, v in book.category.items %}
            <tr>
            <td>{{k}}:</td>
            <td>{{v}}</td>
            </tr>
        {% endfor %}
        </table>
        <div>
        {% if book.translations.title|length > 1 %}
            This book also available in:
            <ul>
                {% for lang in book.translations.title.keys %}
                <li>
                    {{ lang|language_display }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </body>
</html>