{% extends "library_app/base.html" %}
{% load garnett %}
{% block content %}
        <h2>{{ book.title }}</h2>
        <p>By {{book.author}}</p>
        <div>AKA: {{ book.translations.title }}</div>
        <hr>
        Pages: {{ book.number_of_pages }}
        <hr>
        {{ book.description }}
        <hr>
        Extra details:
        <table class="table">
        {% for k, v in book.category.items %}
            <tr>
            <td>{{k}}:</td>
            <td>{{v}}</td>
            </tr>
        {% endfor %}
        </table>
        <div>
        {% if book.translations.title|length > 1 %}
            This book also available in:
            <ul>
                {% for lang in book.translations.title.keys %}
                <li>
                    {{ lang|language_display }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
{% endblock %}