{% extends "library_app/base.html" %}
{% load garnett %}

{% block title %}
{{ book.title|as_str }} - 
{{ book.topic|from_lang:"en" }} /
{{ book.topic|from_lang:"fr" }}
{% endblock %}

{% block content %}
        <h2>{{ book.title }} <small>(<code>book.title</code>)</small></h2>
        <p>By {{book.author}}
        <small>(<code>book.author</code>)</small>
        </p>
        <table class="table" style="max-width:70%">
        <tr>
            <td>Topic:
            <br><small>(<code>book.topic</code>)</small>
            </td>
            <td>
                {{ book.topic }}
                <div class="alert alert-info p-1" role="alert"><small>
                This is a field with a bilingual English/French representation to
                show how representation can include multiple languages.
                </small></div>
            </td>
        </tr>
        <tr>
            <td>Description:
            <br><small>(<code>book.description</code>)</small>
            </td>
            <td>
                {{ book.description }}
            </td>
        </tr>
        <tr>
            <td>AKA:
            <br><small>(<code>book.title.translations</code>)</small>
            </td>
            <td>
                <ul>
                {% for lang, val in book.title.translations.items %}
                    <li>{{ lang.display_name }}: {{val}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Pages:
            <br><small>(<code>book.number_of_pages</code>)</small>
            </td>
            <td>{{ book.number_of_pages }}
            </td>
        </tr>
        <tr>
            <td>Extra details:
            </td>
            <td><small><div class="alert alert-info" role="alert">
                Note: This is a plain json field to demonstrate how garnett
                overrides of certain json behaviours don't impact other non-garnett fields.
                </div></small>
                <table class="table">
                {% for k, v in book.category.items %}
                    <tr>
                    <td>{{k}}:</td>
                    <td>{{v}}</td>
                    </tr>
                {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>This book available in:
            <br><small>(<code>book.available_languages</code>)</small>
            </td>
            <td><small><div class="alert alert-info" role="alert">
                Note: This method returns a list of languages that have
                values for all fields on this model.
                </div></small>
                <ul>
                    {% for lang in book.available_languages %}
                    <li>
                        {{ lang.display_name }}
                    </li>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        </table>
        <p>
        Regardless of which language is selected the properties shown as <code>code</code>
        above show the properties used to populate this django template.
        <br>
        Eg. <small><code>book.title</code></small> will return the
        name of the book in your selected langauge (if it is available).
        </p>
{% endblock %}
