{% load garnett %}

<html>
    <head>
        <style>
            .fallback {
                font-style: italic;
                text-decoration: underline;
                text-decoration-style: dashed;
            }
        </style>
    </head>
    <body>
        {% language_selector "query" %}
        {% language_selector "cookie" %}

        <p style="max-width:750px">
        This page includes a list of all "Books" in this database.
        <br>
        Where possible, it will show the title of the book in <em>{{ garnett_current_language.display_name }}</em>.
        <br>
        If a book doesn't have an <em>{{ garnett_current_language.display_name }}</em> title, 
        this site has been configured to show the first title in the following
        order: 
        <div style="padding-left: 50px">
        {% for l in garnett_languages %}
            {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
            {{ l.display_name }}
        {% endfor%}
        </div>
        </p>

        <h1>Here are all the books we have</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Available languages</th>
                    <th>Number of pages</th>
                </tr>
            </thead>
            {% for book in object_list %}
            <tr>
                <td>
                {% if book.title.is_fallback %}
                    <b>*</b>
                {% endif %}
                <a {% if book.title.is_fallback %}class="fallback"{% endif %}
                    href="{{ book.get_absolute_url }}?glang={{ garnett_current_language }}">
                    {{ book.title }}
                </a>
                </td>
                <td>
                {% for l in book.available_languages %}
                    {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
                    {{ l.display_name }}
                {% endfor%}
                </td>
                <td>{{book.number_of_pages}}
                </td>
            </tr>
            {% empty %}
                <tr><td>There are no books.</td></tr>
            {% endfor %}
        </table>
    </body>
</html>
