{% load garnett %}

<html>
    <body>
        <div>
            Current language:
                <span>{{ garnett_current_language }} </span>
            Available Languages:
            {% for lang in garnett_languages %}
                |
                {% if lang.language == garnett_current_language %}
                    <span>{{ lang|language_display }} </span>
                {% else %}
                    <a  title="{{ lang }}"
                        href="{% switch_page_language lang %}"
                        >{{ lang|language_display }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <h1>{{ book.title }}</h1>
        <div>AKA: {{ book.translations.title }}</div>
        <hr>
        Pages: {{ book.number_of_pages }}
        <hr>
        {{ book.description }}

        {% if book.translations.title|length > 1 %}
            This book also available in:
            <ul>
                {% for lang in book.translations.title.keys %}
                <li>
                    {{ lang|language_display }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        

        {{ book.title_tsall }}
    </body>
</html>